@page
@model WebApplication1testingRazor.Pages.LogoutModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Logging out...</title>
    <meta http-equiv="refresh" content="0;url=/Login" />
</head>
<body>
    <p>Logging out...</p>
</body>
</html>