@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
        #pinCreateForm{
            display: none;
            position: absolute;
            background: white;
            padding: 10px;
            border: 5px  black;
            z-index: 10000;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <div id="pinCreateForm">
        <label for="pinTitle">Title:</label>
        <input type="text" id="pinTitle" name="pinTitle" /><br>
        <label for="pinDescription">Description:</label>
        <input type="text" id="pinDescription" name="pinDescription" /><br>
        <button id="savePin">Save Pin</button>
        <button id="cancelPin">Cancel Pin</button>
    </div>

    <script>
        var map = L.map('map').setView([58.31, 15.09], 13); // Center the map and set zoom level
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


        var marker;
        var lat, lng

        function onMapClick(e) {
            lat = e.latlng.lat;
            lng = e.latlng.lng;
            
            //Sending pin data on map click, used for testing purposes.
            /*
            document.getElementById('latitude').value = lat;
            document.getElementById('longitude').value = lng;
            document.getElementById('title').value = "a title";
            document.getElementById('description').value = "a description";
            document.getElementById('SendPinDataForm').submit();
            */

            console.log("Latitude:", lat);
            console.log("Longitude:", lng);

            var pinForm = document.getElementById('pinCreateForm');
            pinForm.style.left = e.containerPoint.x + 'px';
            pinForm.style.top = e.containerPoint.y + 'px';
            pinForm.style.display = 'block';

        }

        function clearForm() {
            document.getElementById('pinTitle').value = '';
            document.getElementById('pinDescription').value = '';
        }
        
        document.getElementById('savePin').addEventListener('click', function () {
            var title = document.getElementById('pinTitle').value;
            var description = document.getElementById('pinDescription').value;

            
            marker = L.marker([lat, lng]).addTo(map)
                .bindPopup('<b>' + title + '</b><br>' + description)
                .openPopup();

            var pinForm = document.getElementById('pinCreateForm');
            pinForm.style.display = 'none';
            clearForm();
        });
        document.getElementById('cancelPin').addEventListener('click', function () {
            var pinForm = document.getElementById('pinCreateForm');
            clearForm();
            pinForm.style.display = 'none';
        });

        map.on('click', onMapClick);
    </script>


    <!--This is a hidden form to assign values to when a new pin is created by the user. -->
    <form id="SendPinDataForm" method="post" style="display: none;">
        <input id="latitude" name="Latitude" />
        <input id="longitude" name="Longitude" />
        <input id="title" name="Title" />
        <input id="description" name="Description" />
        <button type="submit" class="btn btn-primary">Submit Coordinates</button>
    </form>


</body>
</html>


